.controlLabel {
    margin: 5px 0px 5px 0px;
}
.controlTextBox {
    padding : 5px 5px 5px 5px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px 5px 0px 5px;
}

.controlTextBox:focus {
    border: 2px solid lightgreen;
    border-radius: 5px;
    outline: none;
}